### INTELLIJ
*.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/modules
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml

### GRADLE
/local.properties
/build
/captures
.gradle
.externalNativeBuild

### OTHER
*.DS_Store