### INTELLIJ
*.iml
/.idea/caches
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml

### GRADLE
.gradle
/build
/local.properties
/captures

### OTHER
*.DS_Store